@import url('https://fonts.googleapis.com/css2?family=Whisper&display=swap');

body {
    background-color: rgb(41, 52, 98);
    text-align: center;
    font-family: "Comic Sans MS", "Comic Sans", sans-serif;
}

.top {
    background-color: rgb(28, 214, 206);
    text-align: center;
    width: fit-content;
    margin: 40px auto;
    padding: 0px, ;
}

h1 {
    color: rgb(254, 219, 57);
    font-size: 100px;
    margin: 6px
}

h2 {
    font-family: "Whisper";
    padding-bottom: 10px;
    font-size: 40px;
    color: rgb(255, 0, 191);
}

h3 {
    text-align: center;
    font-size: 40px;
    color: rgb(41, 52, 98)
}

h4 {
    font-size: 28px;
    color: rgb(255, 0, 191);
}

p {
    text-align: left;
    color: rgb(54, 59, 59);
    font-size: 25px;
    margin: 10px 10px 20px;

}

img {
    max-width: 500px;
    margin: 0 auto;
    display: block;
}

.blog {
    background-color: rgb(255, 255, 255);
    width: 700px;
    margin: 20px auto;
    padding: 1px 10px 10px;
    display: block;
}